{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'mat/css/materialize.min.css' %}"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
<body>

<a href="/"><h3>Homepage</h3></a>
<h4>
    t={{ c_t }}
    d={{ c_d }}
    c={{ c_c }}
    u={{ c_u }}
    t={{ c_t }}
   form = {{ form }}
</h4>
        <form name="myform" action="." method="POST">
            <table>
                {% csrf_token %}
            {{ post_form.as_table }}
            </table>

        </form>

        <div class="container">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s8 m8">
                      <input id="label_title" type="text" class="validate" name="title">
                      <label class="active" for="label_title">Title</label>
                    </div>
                </div>

                <div class="input-field col s12 m12">
                  <textarea type="text" id="label_description" class="materialize-textarea" name="description" data-length="100"></textarea>
                  <label for="label_description">Description</label>
                </div>

                <div class="input-field col s12 m12">
                  <textarea type="text" id="label_content" class="materialize-textarea" name="content"></textarea>
                  <label for="label_content">Content</label>
                </div>

                <div class="input-field col s12 m12">
                  <textarea type="text" id="label_url" class="materialize-textarea" name="url"></textarea>
                  <label for="label_url">Url</label>
                </div>

                <div class="chips chips-placeholder2">
                    <input type="text" name="tags">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <p>Common Tags:
            {% for mt in common_tags %}
                <a href="#" class="badge badge-success">{{mt}}</a>
            {% endfor %}
            </p>


            <div class="row mb-2 posts">
                    {% for post in posts %}
                    <div class="col-md-6">
                        <div class="cards">
                            <div class="row no-gutters border rounded  flex-md-row mb-4 shadow-sm h-md-250">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <h3 class="my-1"><a href="{% url 'detail' post.slug %}">{{post.title}}</a></h3>
                                    <div style="display:flex">
                                        {% for tag in post.tags.all %}
                                        <a href="{% url 'tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
                                        {% endfor %}
                                    </div>
                                    <p class="mb-auto">{{post.description}}</p>
                                    <p class="mb-auto text-muted">{{post.published}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>

        </div>
<form action="#">
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
  </form>


<script src="{% static 'mat/js/materialize.min.js' %}"></script>
<script>
    const  tags = document.querySelectorAll(".chips");
    M.Chips.init(tags,{
        data:[
            {% for tag in common_tags %}
                {tag:'{{ tag }}'},
            {% endfor %}
            {tag:'test',},
            {tag:'YMCA'},
        ]
    });

    const tag_holder = document.querySelectorAll(".chips-placeholder");
    M.Chips.init(tag_holder,{
        placeholder:'Enter Tag',
        secondaryPlaceholder:'+Addmore',
    });


    const tag_holder2 = document.querySelectorAll(".chips-placeholder2");
    M.Chips.init(tag_holder2,{
        autocompleteOptions:{
            data: {
            {% for tag in all_tags %}
                '{{ tag }}': {{ tag }},
            {% endfor %}
                'Youtube':null,
                'facebook':null,
            },
            limit: Infinity,
            minLength:1,
        },
        placeholder:'Enter Tag',
        secondaryPlaceholder:'+Addmore',
    })

    </script>
</body>
</html>
