{% extends 'calories/base.html' %}
{% block title %} Calories {% endblock %}
{% load static %}
{% block Top_background %}{% static 'images/background_picture.jpg' %}{% endblock %}
{% block color1 %} purple lighten-2{% endblock %}
{% block color2 %} purple lighten-2{% endblock %}
{% block Top_href %}
{% endblock %}

{% block Top_href_drop %}
{% endblock %}

{% block header_title %}
    <h1>Calories|Select Food</h1>
{% endblock %}


{% block categories %}
{% endblock %}

{% block drop_menu %}
{% endblock %}

{% load materializecss %}

{% block content %}
    <div class="container">
        <div class="col m12">
            <div class="card-panel hoverable">
                <h4 class="center-align bold">Select Food</h4>

                <form method="POST">
                  {% csrf_token %}
                    {{ form|materializecss }}
                    <input class="btn waves-effect waves-light" type="submit" value="select">
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col m12">
            <div class="card-panel hoverable">
                <h4 class="center-align" >All Food Items </h4>
                <table class="striped centered highlight">
                  <thead class="thead-dark">
                    <tr class="text-center">
                      <th scope="col">Food Name</th>
                        <th scope="col">Calories</th>
                        <th scope="col">Quantity</th>
                    </tr>
                  </thead>
                  <tbody>

                    {% for food in food_items %}
                    <tr>
                      <td>{{ food.name }}</td>
                        <td>{{ food.calorie }}</td>
                        <td>{{ food.quantity }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

